<div class="container">
  <div class="header">
    <h1>Todo Lists</h1>
  </div>

  <div class="form-container">
    <%= turbo_frame_tag "new_todo_list" do %>
      <%= render "form", todo_list: @todo_list %>
    <% end %>
  </div>

  <%= turbo_stream_from "todo_lists" %>
  <div id="todo_lists" class="todo-lists-grid">
    <%= render @todo_lists %>
  </div>
</div>
